<div class="slds-context-bar">
  <div class="slds-context-bar__primary">
    <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
      <span class="slds-context-bar__label-action slds-context-bar__app-name">
        <span class="slds-truncate" title="App Name">Customers</span>
      </span>
    </div>
  </div>
</div>
<div class="slds-grid slds-gutters slds-p-around_medium">
  <div class="slds-col">
    <app-add-customer-modal></app-add-customer-modal>
    <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout slds-m-top_medium" ngl-datatable [data]="customers" trackByKey="firstName">
      <ngl-datatable-column heading="First Name" key="firstName"></ngl-datatable-column>
      <ngl-datatable-column heading="Last Name" key="lastName" sortable></ngl-datatable-column>
      <ngl-datatable-column heading="Date of Birth" key="dateOfBirth"></ngl-datatable-column>
      <ng-template nglNoRowsOverlay>No customers currently available</ng-template>
    </table>
  </div>
</div>

<router-outlet></router-outlet>