<div class="slds-context-bar">
  <div class="slds-context-bar__primary">
    <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover">
      <span class="slds-context-bar__label-action slds-context-bar__app-name">
        <span class="slds-truncate" id="portal-heading" title="Customer Portal">Alinta Customer Portal</span>
      </span>
    </div>
  </div>
</div>
<div class="slds-grid slds-gutters slds-p-around_medium slds-p-bottom_none">
 <div class="sdls-col">
  <div class="slds-col">
    <app-add-customer-modal></app-add-customer-modal>
  </div>
 </div>
</div>
<div class="slds-grid slds-gutters slds-p-around_medium slds-p-bottom_none">
 <div class="sdls-col">
    <div class="slds-col">
      <ngl-input>
        <input ngl name="searchTerm" type="input" [(ngModel)]="searchTerm" (ngModelChange)="search()" placeholder="Search">
      </ngl-input>
    </div>
  </div>
</div>
<div class="slds-grid slds-gutters slds-p-around_medium">
  <div class="slds-col">
    <table class="slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_fixed-layout slds-m-top_medium" ngl-datatable [data]="customers" trackByKey="firstName">
      <ngl-datatable-column heading="First Name" key="firstName"></ngl-datatable-column>
      <ngl-datatable-column heading="Last Name" key="lastName"></ngl-datatable-column>
      <ngl-datatable-column heading="Date of Birth" key="dateOfBirth">
          <ng-template nglDatatableCell let-value>
            {{value | date}}
          </ng-template>
      </ngl-datatable-column>
      <ngl-datatable-column heading="Actions">
          <ng-template nglDatatableCell let-index="index" let-row="row">
            <app-edit-customer-modal [index]="index" [customer]="row" class="slds-m-right_small"></app-edit-customer-modal>
            <button type="button" (click)="deleteCustomer(index)" nglButtonIcon iconName="utility:delete" title="Delete Customer"></button>
          </ng-template>
      </ngl-datatable-column>
      <ng-template nglNoRowsOverlay>No customers found.</ng-template>
    </table>
  </div>
</div>
<div class="slds-notify_container">
  <ngl-toast *ngIf="showDeleteToast" variant="success" (close)="showDeleteToast = false;" duration="5000">
    <h2 class="slds-text-heading_small">Customer Successfully Deleted</h2>
  </ngl-toast>
</div>

<router-outlet></router-outlet>